/* CSS Variable */
:root {
  --colorWhite: #FFFFFF;
  --colorBlack: #000000;
  --colorMainYellow: #FDDF83;
  --colorMainYellowDeep: #F6D978;
  --colorPointGreen: #5A7167;
  --colorPointGreenDeep: #45564B;
  --colorLightGrey: #F1F1F5;
  --colorGrey: #767676;
  --fontColorBlack: #191919;

  --baseMargin: 8px;
  --mobileGap: 24px;
  --tabletGap: 64px;
  --browserGap: 64px;

  --mobileFontSize: 14px;
  --mobileCoverTitle: 52px;
  --mobileTitleKo: 18px;
  --mobileTitleEn: 24px;
  --browserFontSize: 16px;

  --fontWeightRegular: 400;
  --fontWeightbold: 700;
  --fontWeightTitle: 900;

  --mobileHeaderSize: 80px;
  --browserHeaderSize: 80px;
}


/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
  outline: 0;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* vertical-align: baseline; */
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

ol, ul, dl, li, dt, dd {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Settings */

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Lato', 'Noto Sans KR', serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

main {

}

/* header */
#main-header {
  width: 100%;
  height: var(--mobileHeaderSize);
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 var(--mobileGap);
}

.menu-bars {
  position: absolute;
  top: 20px;
  left: 20px;
}

.header-title {
  font-weight: var(--fontWeightbold);
  text-transform: uppercase;
  color: var(--colorPointGreen);
}


/* Hero */
#hero {
  width: 100%;
  height: 100vh;
  background-color: var(--colorMainYellow);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-title {
  font-size: var(--mobileCoverTitle);
  font-weight: var(--fontWeightbold);
  text-transform: uppercase;
  color: var(--colorWhite);
}

.nav-links {
  width: 100%;
  height: var(--mobileHeaderSize);
  position: absolute;
  bottom: 0;
  z-index: 100;
}

.nav-links ul {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main-link {
  font-weight: var(--fontWeightbold);
  text-transform: uppercase;
  color: var(--colorPointGreen);
}

/* About */
#about {

}

.about-cover {
  width: 100%;
  height: 100vh;
  background-color: var(--colorPointGreen);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--colorWhite);
}

.about-cover .main-link {
  color: var(--colorWhite);
}

.cover-title {
  font-size: var(--mobileCoverTitle);
  font-weight: var(--fontWeightbold);
}

.cover-desc {
  text-align: center;
  font-weight: var(--fontWeightRegular);
}

.motivation {
  padding: calc(var(--baseMargin) * 10) var(--mobileGap);
}

.motivation-title {
  font-size: var(--mobileTitleKo);
  font-weight: var(--fontWeightbold);
  margin-bottom: calc(var(--baseMargin) * 4);
}

.motivation-title span {
  display: block;
}

.motivation-desc {
  margin-bottom: calc(var(--baseMargin) * 2);
}

.skills {
  padding: calc(var(--baseMargin) * 10) var(--mobileGap);
  background-color: var(--colorLightGrey);
}

.skills-title {
  font-size: var(--mobileTitleEn);
  font-weight: var(--fontWeightbold);
  margin-bottom: calc(var(--baseMargin) * 7);
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
}

.skill-item {
  width: 50%;
  margin-bottom: calc(var(--baseMargin) * 5);
}

.skill-item-title {
  font-size: var(--mobileTitleKo);
  font-weight: var(--fontWeightbold);
  margin-bottom: calc(var(--baseMargin) * 2);
}

.skill-list {
  margin-bottom: var(--baseMargin);
}